/* h1{
    color:orange;
}
button{
    color:white;
    background-color:blue
} */

/* 

*{
    font-family: 'Courier New';
}
h1{
    color: #1b74e4;
}
button{
    color: black;
    background-color: #1b74e4;
}
#search{
    color: white;
    background-color: black;
} */
/* h1{
    font-style: Georgia;
}

#mainTopic{
    color: blue;
}
nav,p{
    text-align: center;
    color: white;
    background-color: cornflowerblue;
} */



/* #outer{
    height: 200px;
    width: 70px;
    border: 2px solid black;
    background-color: rgb(143, 143, 252);
}
.inner{
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 9px;
    border-radius: 50%;
}
#red{
    background-color: red;
}
#yellow{
    background-color: yellow;
}
#green{
    background-color: green;
} */





